.creditCardForm {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  width: 600px;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
}

.cardInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.2s;
}

.expiryInput {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
