.title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 139.52%;
  /* or 25px */

  letter-spacing: -0.01em;
  margin-left: 10px;
  color: #000000;
}
.scroll {
  overflow-y: auto;
}
.deleteBtn,
.deleteBtn1 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  /* or 217% */

  display: flex;
  align-items: center;
  letter-spacing: -0.18px;

  color: #000000;
  margin-inline: 5px;
}
.deleteBtn1 {
  color: #9747ff;
}
.checkboxTxt {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  /* or 217% */

  display: flex;
  align-items: center;
  letter-spacing: -0.18px;

  color: #555555;
}

.checkbox {
  background: #ffffff;
  border: 1px solid #9747ff;
  border-radius: 5px;
  margin-inline-end: 5px;
  height: 15px;
  width: 15px;
}
/*product designs*/
.productSubTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  margin-block: 5px;

  color: #000000;
}
.scroll {
  overflow-y: scroll;
}

.prdImg {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 100px;
  height: 120px;
}

.prdName {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */

  color: #000000;
}
.prdTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  /* or 14px */
  margin-block: 10px;
  color: #000000;
}
.prdPrice {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
  color: #000000;
}
.imageContainer {
  margin-right: 10px;
}

/* Parent div */
.parentDiv {
  position: relative;
}

.outOfStock {
  position: absolute;
  top: 40%;
  left: 90%;
  transform: translate(-70%, -50%);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 18px */
  color: white;
  width: 100px;
}

.blur {
  filter: blur(2px);
}

.productInfoBox {
  display: flex;
  flex-direction: column;
  flex: 1;
}
/* bottom titles */
.text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  color: #000000;
}
.price {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */

  color: #000000;
}
.notice {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  /* or 217% */

  display: flex;
  align-items: center;
  letter-spacing: -0.18px;

  color: #555555;
  background-color: #e8e9ec;
}
.button,
.button1 {
  background: tomato;
  border: 1px solid tomato;
  border-radius: 15px;
  color: #9747ff;
  width: 170px;
  height: 32.77px;
}
.button1 {
  background: "tomato";
  color: #ffffff;
}
.contFooter {
  background: #ffffff;
  border-radius: 0px;
  padding-block: 25px;
  padding-inline: 10px;
}
